*{margin:0; padding: 0; border: 0;}
    .clearfix:before,
    .clearfix:after {
                        content: "";
                        display: block;
                        clear: both;
                        visibility: hidden;
                        line-height: 0;
                        height: 0;
                        font-size:0;
}
.clearfix { *zoom:1;}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.scroll-box{
    display: none;
}
.scroll-top,.scroll-down{
    display: block;
    width: 56px;
    height: 56px;
    background: url('../images/erweima.jpg') 0 -72px;
    position: fixed;
    bottom: 160px;
    right: 75px;
    z-index: 999;
}
.scroll-top>span{
    position: relative;
    display: block;
    width: 56px;
    height: 56px;
    background: url('../images/erweima.jpg');
    display: none;
}
.scroll-down{
    bottom: 95px;
    background: url('../images/totop1.gif') 0 0;
}
.scroll-show{
    position: fixed;
    width:301px;
    height:185px;
    right: 140px;
    bottom: 165px;
    background-image: url('../images/erweima.png');
    z-index: 999;
    display: none;
}
.header-con{
    width: 1110px;
    margin: 0 auto;
    line-height: 45px;
}
.header-top{
    border-bottom: 1px solid #f0f0f0;
}
.header-con>a{
    display: block;
    float: left;
    color: #000;
    font-size: 14px;
}
.header-con>a:hover{
    color: #52d0db;
}
.header-con>a:nth-child(1){
    margin-left: 15px;
}
.header-con>a:nth-child(2){
    margin-left: 33px;
}
.header-con>span{
    display: block;
    float: left;
    width: 23px;
    padding-top: 17px;
    margin-top: 13px;
    margin-left: 82%;
    background-image: url('../images/buycar.png');
}
.header-con>a:nth-child(4){
    float: right;
}
.header-con>a:nth-child(4)>span{
    color: #ff7800;
}
h1>a{
    display: block;
    width: 250px;
    padding-top: 88px;
    position: absolute;
    left: 50%;
    margin-left: -125px;
    background-image: url('../images/logo.jpg');
}
.header-down-left{
    width: 375px;
    float: left;
}
.header-down-left>a:nth-child(1){
    display: block;
    float: left;
    width: 40px;
    padding-top:44px;
    border: 1px solid #f0f0f0;
    margin-top: -1px;
    text-align: center;
    background-image: url('../images/icon.png');
}
.header-down-left>ul>li,.header-down-rig>ul>li{
    float: left;
    width: 65px;
    line-height: 43px;
    border: 1px solid #f0f0f0;
    text-align: center;
    margin-top: -1px;
    margin-left: -1px;
}
.header-down-left>ul>li>a,.header-down-rig>ul>li>a{
    font-size: 14px;
    color: #000;
}
.header-down-left>ul>li>a:hover,.header-down-rig>ul>li>a:hover{
    color: #52d0db;
}
.header-down-left>ul>li:nth-child(5){
    position: relative;
}
.header-down-left>ul>li:nth-child(5)>.yincang{
    position: absolute;
    width: 812px;
    left: 0;
    display: none;
    z-index: 5;
    background-color: #fff;
}
.yincang>.yincang-top{
    background-color: #e5e5e5;
    border-bottom: 1px solid #f1f1f1;
}
.yincang>.yincang-top>a{
    display: block;
    float: left;
    width: 203px;
    font-size: 18px;
    margin-top: 15px; 
    padding-bottom: 10px;
}
.yincang>.yincang-top>a:nth-child(1)>span:first-child{
    color: #f5142b;
}
.yincang>.yincang-top>a:nth-child(2)>span:first-child{
    color: #78dd00;
}
.yincang>.yincang-top>a:nth-child(3)>span:first-child{
    color: #ff6c00;
}
.yincang>.yincang-top>a:nth-child(4)>span:first-child{
    color: #ff48b4;
}
.yincang>.yincang-top>a>span:last-child{
    display: block;
    color: #000;
    margin-top: -15px;
    font-size: 16px;
}
.yincang>.yincang-top>a:nth-child(1),.yincang-top>a:nth-child(1)>span:last-child:hover{
    color: #f5142b;
}
.yincang>.yincang-top>a:nth-child(2),.yincang-top>a:nth-child(2)>span:last-child:hover{
    color: #78dd00;
}
.yincang>.yincang-top>a:nth-child(3),.yincang-top>a:nth-child(3)>span:last-child:hover{
    color: #ff6c00;
}
.yincang>.yincang-top>a:nth-child(4),.yincang-top>a:nth-child(4)>span:last-child:hover{
    color: #ff48b4;
}
.yincang-mid>.yincang-mid-top{
    text-align: left;
}
.yincang-mid>.yincang-mid-top>a{
    margin-left: 20px;
    font-size: 14px;
    color: #52d0db;
}
.yincang-mid>.bianse{
    width: 100%;
}
.yincang-mid>.yincang-mid-top>a:hover{
    background-color: #52d0db;
    color: #fff;
}
.yincang-mid>.yincang-mid-top>a:first-child{
    margin-left:55px;
}
.yincang-mid>.bianse>span:first-child{
    margin-top:15px;
    display: block;
    float: left;
    width:4px;
    padding-top:9px;
    margin-left: 20px;
    background-image: url('../images/icon3.png');
}
.yincang-mid>.bianse>span:nth-child(2){
    line-height:28px;
    display: block;
    float: left;
    font-size: 14px;
    margin-left: 5px;
    margin-top:5px;
    color: #5c5c5c;
}
.yincang-mid>.color>a{
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    margin-top:13px;
    border-radius: 50%;
    background-color: #ff0087;
}
.yincang-mid>.color>a:nth-child(2){
    background-color: #ff0000;
}
.yincang-mid>.color>a:nth-child(3){
    background-color: #ff8100;
}
.yincang-mid>.color>a:nth-child(4){
    background-color: #f4cd00;
}
.yincang-mid>.color>a:nth-child(5){
    background-color: #fffe09;
}
.yincang-mid>.color>a:nth-child(6){
    background-color: #00e405;
}
.yincang-mid>.color>a:nth-child(7){
    background-color: #714b25;
}
.yincang-mid>.color>a:nth-child(8){
    background-color: #a40cf5;
}
.yincang-mid>.color>a:nth-child(9){
    background-color: #0200fb;
}
.yincang-mid>.color>a:nth-child(10){
    background-color: #04d4f5;
}
.yincang-mid>.color>a:nth-child(11){
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border: 1px solid #ccc;
}
.yincang-mid>.color>a:nth-child(12){
    background-color: #838383;
}
.yincang-mid>.color>a:nth-child(13){
    background-color: #000000;
}
.yincang-mid>.bianse>a{
    display: block;
    float: left;
    text-align: left;
    margin-left:18px;
    font-size: 12px;
    color: #000;
    line-height: 36px;
}
.yincang-mid>.bianse>a:hover{
    color: #52d0db;
}
.yincang-down{
    background-color: #e5e5e5;
}
.yincang-down>a{
    color: #000;
    line-height:60px;
}
.yincang-down>a:hover{
    color: #52d0db;
}
.header-down-rig{
    float: right;
}
.header-down-rig>ul>input{
    float: left;
    width:200px;
    height: 43px;
    text-indent:10px;
    margin-left: -1px;
    border: 1px solid #f0f0f0;
    border-right: none;
}
.header-down-rig>ul>a{
    display: block;
    float: right;
    width: 45px;
    text-align: center;
    padding-top: 43px;
    background: url('../images/search.png') center center no-repeat;
    border: 1px solid #f0f0f0;
    border-left:none;
}
footer{
    margin-top: 110px;
}
.foot-bg{
    width: 100%;
    height: 10px;
    background-image: url('../images/footer_bg.gif');
}
.footer-top{
    padding-top: 85px;
    background-color: #f6f6f6;
    padding-bottom: 50px;
}
.fot-top-con{
    width: 1110px;
    margin: 0 auto;
}
.fot-top-left{
    width: 80px;
    float: left;
    margin-left: 75px;
}
.fot-top-left>p,.fot-top-mid>p,.fot-top-rig>p{
    font-size: 20px;
    color: #37c7d6;
    margin-bottom: 20px;
}
.fot-top-left>div:nth-child(2){
    width: 30px;
}
.fot-top-left>div:nth-child(2)>a{
    float: left;
    display: block;
    color: #4a4a4a;
    font-size: 14px;
    line-height: 20px;
}
.fot-top-left>div:nth-child(2)>a:hover{
    color: #fff;
    background-color: #37c7d6;
}
.fot-top-mid{
    width: 150px;
    float: left;
    margin-left: 170px;
}
.fot-top-mid>span{
    display: block;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 20px;
}
.fot-top-rig{
    width: 140px;
    float: left;
    margin-left: 100px;
}
.fot-top-rig>a{
    display: block;
    width: 30px;
    height: 29px;
    background-image: url('../images/share.png');
    margin-top: 10px;
}
.fot-top-rig>a:nth-child(2){
    margin-top: 0;
}
.fot-top-rig>a:nth-child(3){
    background:url('../images/share.png') 0 -40px;
}
.fot-top-rig>a:nth-child(4){
    background:url('../images/share.png') 0 -80px;
}
.fot-top-rig>a:nth-child(5){
    background:url('../images/share.png') 0 -120px;
}
.fot-top-rig>a:nth-child(6){
    background:url('../images/share.png') 0 -157px;
    position: relative;
}
.fot-top-rig>a>span{
    display: block;
    float: left;
    width: 100px;
    font-size: 14px;
    padding-left: 40px;
    color: #4a4a4a;
    margin-top:4px;
}
.fot-top-rig>a:nth-child(6)>.showpic{
    display: block;
    position: absolute;
    width: 119px;
    top: -170px;
    left: 10px;
    padding-top: 172px;
    -webkit-background-size: 90%;
    background-size: 90%;
    background: url('../images/ewm.png') no-repeat;
    display: none;
}
.fot-top-con>img{
    margin-top: 10px;
    float: right;
    margin-right: 95px;
}
.footer-down{
    background-color: #07c7d3;
    padding-top: 55px;
    padding-bottom: 175px;
}
.footer-down-con{
    width: 1110px;
    margin: 0 auto;
}
.footer-down-con>p:nth-child(1){
    font-size: 28px;
    color: #fff;
    text-align: center;
    margin-bottom: 55px;
}
.fot-down-mid{
   text-align: center;
}
.fot-down-mid>a{
    margin-left: 12px; 
    font-size: 14px;
    color: #fff;
}
.footer-down-con>p:nth-child(3){
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}